
<%-Imp.jQuery()%>
<%-Imp.css('products-widget')%>
<%-Imp.js('products-widget')%>


<div class="scu-holder"><div class="scu-grid"></div></div>

<script type="text/javascript">
$(document).ready(() => {
  new ProductShareWidget('<%=global.host%>','<%=locals.sku%>').loadNext();
});
</script>
