<%-
  new Importer(locals)
  .jQuery()
  .viewport()
  .css('social/insta')
  .get();
  %>

  <html>
    <script type="text/javascript">
        window.posts = <%- JSON.stringify(posts) %>
        console.log(window.posts)
    </script>




<body>
    <div class="header">
        <div>
            <img src="/img/imglogo.png" alt="">
        </div>
        <div>
            <p>Boutique Infantil</p>
            <P>@boutiqueinfantil.com.br</p>
        </div>


        <div class="menu">
            <img class="menu-button" src="/img/social/menu.svg" alt="">
        </div>
    </div>



    <div class="images-holder">
        <% posts.forEach((each)=>{%>
        <div class="links-holder">
            <a href="<%=each.desc%>" target="_blank">
                <img class="image" src="<%=each.image%>" alt="">
            </a>
        <a href="<%=each.desc%>">COMPRAR</a>
        </div>
        <%})%>
    </div>
  
    <div class="options" style="display: none;"></div>

</body>
  </html>