<%-
  new Importer(locals)
  .viewport()
  .css('links-insta')
  .get();
  %>



<div class="general-content">

    <div class="logo1">
        <img id="logo"src="<%=Img.path('imglogo')%>">
        <div class="logo-title">
            <a href="https://www.instagram.com/boutiqueinfantil.com.br/"target="_blank"><h3>@boutiqueinfantil.com.br</h3></a>
            <a href="https://www.boutiqueinfantil.com.br/" target="_blank"><p>www.boutiqueinfantil.com.br</p></a>
        </div>
    </div>

    <%Object.keys(promos).forEach((each)=>{%>
        <a class="links" href="<%=promos[each].description%>" target="_blank"><%=promos[each].value%></a>
        
    <%})%>

    <div id="rodape">
        <div id="encontre">
            <p>ENCONTRE-NOS AQUI:</p>
        </div>
        <div id="quadro">
            
            <a class="social" href="https://api.whatsapp.com/send?phone=554796860185&text=Ol%c3%a1%21&source=&data="target="_blank"><img src="<%=Img.path('whatsapp')%>"></a>

            <a class="social" href="https://www.instagram.com/boutiqueinfantil.com.br/"target="_blank"><img src="<%=Img.path('instagram')%>"></a>

            <a class="social" href="   https://www.facebook.com/boutiqueinfantil.com.br/"target="_blank"><img src="<%=Img.path('facebook')%>"></a>

            <a class="social" href="https://t.me/boutiqueinfantiloficial"target="_blank"><img src="<%=Img.path('telegram')%>"></a>
        
            <a class="social" href="https://blog.boutiqueinfantil.com.br/"target="_blank"><p>Blog</p></a>

            <a class="social" href="https://www.youtube.com/boutiqueinfantil"target="_blank"><img src="<%=Img.path('youtube')%>"></a>
        </div>
    </div>

</div>