<%-
  new Importer()
  .viewport()
  .css('links-insta')
  .get();
  %>


<div class="general-content">

    <div class="logo1">
        <img id="logo"src="<%=Img.path('imglogo')%>">
        <div class="logo-title">
            <a href="https://www.instagram.com/boutiqueinfantil.com.br/"target="_blank"><h3>@boutiqueinfantil.com.br</h3></a>
            <p>www.boutiqueinfantil.com.br</p>
        </div>
    </div>

    <a class="links" href="https://www.boutiqueinfantil.com.br/outlet-inverno?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_tudo1690_120820"target="_blank">Tudo Por R$16,90</a>

    <a class="links" href="  https://www.facebook.com/groups/boutiqueinfantil.ofertas/  "target="_blank">Grupo do Facebook</a>

    <a class="links" href="https://www.boutiqueinfantil.com.br/preview-de-verao?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_preview_110820"target="_blank">Preview de Verão!</a>

    <a class="links" href="https://www.boutiqueinfantil.com.br/kit-body-club?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_mijao_110820 "target="_blank">Kit 3 Mijões</a>
      
    <a class="links" href="https://www.boutiqueinfantil.com.br/kit-body-club?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_kitbody_100820" target="_blank">Kit Body</a>

    <a class="links" href=https://www.boutiqueinfantil.com.br/tudo-por-9-90?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_tudo990_100820" target="_blank">Tudo Por R$9,90!</a>
  
    <a class="links" href="https://www.boutiqueinfantil.com.br/conjuntos-verao?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_conjuntosverao_100820"target="_blank">Conjunto Verão Com Cupom</a>

    <a class="links"href="https://www.boutiqueinfantil.com.br/pijamas-inverno?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_pijamas_100820"target="_blank">Pijamas Por R$29,90</a>

    <a class="links"href="https://www.boutiqueinfantil.com.br/meias-e-pantufas?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_meias_100820"target="_blank">Meias e Pantufas</a>

    <a class="links" href="https://www.boutiqueinfantil.com.br/bodies-avulsos?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_bodiesavulso_100820 "target="_blank">Bodies Avulsos</a>
    <div id="rodape">
        <div id="encontre">
            <p>ENCONTRE-NOS AQUI:</p>
        </div>
        <div id="quadro">
            
            <a class="social" href="https://api.whatsapp.com/send?phone=554796860185&text=Ol%c3%a1%21&source=&data="target="_blank"><img src="<%=Img.path('whatsapp')%>"></a>

            <a class="social" href="https://www.instagram.com/boutiqueinfantil.com.br/"target="_blank"><img src="<%=Img.path('instagram')%>"></a>

            <a class="social" href="https://www.facebook.com/boutiqueinfantil.com.br"target="_blank"><img src="<%=Img.path('facebook')%>"></a>

            <a class="social" href="https://t.me/boutiqueinfantiloficial"target="_blank"><img src="<%=Img.path('telegram')%>"></a>
        
            <a class="social" href="https://blog.boutiqueinfantil.com.br/"target="_blank"><p>Blog</p></a>

            <a class="social" href="https://www.youtube.com/boutiqueinfantil"target="_blank"><img src="<%=Img.path('youtube')%>"></a>
        </div>
    </div>

</div>