<%-Imp.jQuery()%>
<%-Imp.css('social-floating-widget')%>
<%-Imp.js('social-floating-widget')%>


<div class="sfmw">
  <div class="sfmw-block">
    <img class="sfmw-action" src="/img/dots-w.png" alt="Menu Social" />
    <a class="sfmw-action sfmw-mini-action fb" href="<%=Params.facebookUrl()%>" target="_blank"><img src="<%=global.host%>/img/facebook-w.png"/></a>
    <a class="sfmw-action sfmw-mini-action fm" href="<%=Params.facebookMessengerUrl()%>" href="#" target="_blank"><img src="/img/messenger-w.png"/></a>
    <a class="sfmw-action sfmw-mini-action i" href="<%=Params.instagramUrl()%>"  target="_blank"><img src="/img/instagram-w.png"/></a>
    <a class="sfmw-action sfmw-mini-action t" href="<%=Params.telegramUrl()%>" target="_blank"><img src="/img/telegram-w.png"/></a>
    <a class="sfmw-action sfmw-mini-action w" href="<%=Params.whatsappUrl()%>" target="_blank"><img src="/img/whatsapp-w.png"/></a>
  </div>

  <div class="sfmw-block">
    <img class="sfmw-action" src="/img/headset-w.png" alt="Central de Atendimento" />
    <a class="sfmw-action sfmw-mini-action " href="<%=Params.customerServiceUrl()%>" target="_blank"><img src="/img/cursor-w.png"/></a>
    <a class="sfmw-action sfmw-mini-action p" href="tel:<%=Params.customerServicePhone()%>" target="_blank"><img src="/img/phone-w.png"/></a>
    <a class="sfmw-action sfmw-mini-action e" href="mailto:<%=Params.customerServiceEmail()%>" target="_blank"><img src="/img/mail-w.png"/></a>
  </div>

  <img class="sfmw-close sfmw-action sfmw-mini-action" src="/img/close-w.png" alt="Fechar" />
</div>
