  <%-
  new Importer(locals)
  .jQuery()
  .both('social-floating-widget')
  .get();
  %>


<div class="sfmw">
  <div class="sfmwb">
    <img class="sfmwa" src="<%=Img.path('dots-w')%>" alt="Menu Social" />
    <a class="sfmwa sfmwma fb" href="<%=Params.facebookUrl()%>" target="_blank"><img data-src="<%=Img.path('facebook-w')%>"/></a>
    <a class="sfmwa sfmwma fm" href="<%=Params.facebookMessengerUrl()%>" href="#" target="_blank"><img data-src="<%=Img.path('messenger-w')%>"/></a>
    <a class="sfmwa sfmwma i" href="<%=Params.instagramUrl()%>"  target="_blank"><img data-src="<%=Img.path('instagram-w')%>"/></a>
    <a class="sfmwa sfmwma t" href="<%=Params.telegramUrl()%>" target="_blank"><img data-src="<%=Img.path('telegram-w')%>"/></a>
    <a class="sfmwa sfmwma w" href="<%=Params.whatsappUrl()%>" target="_blank"><img data-src="<%=Img.path('whatsapp-w')%>"/></a>
  </div>

  <div class="sfmwb">
    <img class="sfmwa" src="<%=Img.path('headset-w')%>" alt="Central de Atendimento" />
    <a class="sfmwa sfmwma pf" href="" target="_blank"><img data-src="<%=Img.path('exc')%>" /></a>
    <a class="sfmwa sfmwma " href="<%=Params.customerServiceUrl()%>" target="_blank"><img data-src="<%=Img.path('cursor-w')%>"/></a>
    <a class="sfmwa sfmwma p" href="tel:<%=Params.customerServicePhone()%>" target="_blank"><img data-src="<%=Img.path('phone-w')%>"/></a>
    <a class="sfmwa sfmwma e" href="mailto:<%=Params.customerServiceEmail()%>" target="_blank"><img data-src="<%=Img.path('mail-w')%>"/></a>
  </div>

  <img class="sfmwc sfmwa sfmwma" data-src="<%=Img.path('close-w')%>" alt="Fechar" />
</div>
