<!DOCTYPE html>
<html lang="pt" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Rastreio de Pedido</title>
  <%-Imp.jQuery(true)%>

  <%-Imp.css('side-menu')%>
  <%-Imp.js('side-menu', { __host: global.host})%>

  <%-Imp.css('tracking-page')%>
  <%-Imp.js('tracking-page', { __host: global.host})%>
</head>

<body>



 <%- include('../parts/waves');  %>

  <img class="logo" src="<%=Img.path('logo-v')%>">



</body>
</html>
